In [7]:
import pandas as pd
import numpy as np
data=np.random.randn(5,4)
data=pd.DataFrame(data,index=['A','B'
                                                 ,'C','D','E'],
                 columns=[1,2,3,4])
data

          1         2         3         4
A -0.393073 -0.584615  0.396599  0.217370
B -0.779340 -1.174353 -0.126361  0.590142
C -0.221990 -1.317412  0.195038 -0.919017
D -1.114277  0.470609  1.999642 -0.239402
E -1.332502 -0.508770 -2.005701  0.650774

In [9]:
big_diff=(data[1]-data[2])/data[3]
big_diff.sort_values().tail(1)

C    5.616466
dtype: float64

In [12]:
df1=data.ix[:,[1,2]]
df1

          1         2
A -0.393073 -0.584615
B -0.779340 -1.174353
C -0.221990 -1.317412
D -1.114277  0.470609
E -1.332502 -0.508770

In [16]:
df1.drop(df1[df1[1]>0].index,inplace=True)
df1

          1         2
A -0.393073 -0.584615
B -0.779340 -1.174353
C -0.221990 -1.317412
D -1.114277  0.470609
E -1.332502 -0.508770

In [18]:
data

          1         2         3         4
A -0.393073 -0.584615  0.396599  0.217370
B -0.779340 -1.174353 -0.126361  0.590142
C -0.221990 -1.317412  0.195038 -0.919017
D -1.114277  0.470609  1.999642 -0.239402
E -1.332502 -0.508770 -2.005701  0.650774

In [ ]:
data['Points']=data.apply(lambda x,y,z,g:x*3+y*2+z+g,axis=1)
data

TypeError: ("<lambda>() missing 3 required positional arguments: 'y', 'z', and 'g'", 'occurred at index A')