### Cake Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline
sns.set(style='whitegrid',color_codes=True)
sns.set(font_scale=1)

### Concat the dataset to one

In [166]:
cake12=pd.read_csv('/Users/pein/Desktop/12月蛋糕.csv')
cake11=pd.read_csv('/Users/pein/Desktop/11月蛋糕.csv')
cake10=pd.read_csv('/Users/pein/Desktop/10月蛋糕.csv')
cake9=pd.read_csv('/Users/pein/Desktop/9月蛋糕.csv')
cake8=pd.read_csv('/Users/pein/Desktop/8月蛋糕.csv')
cake7=pd.read_csv('/Users/pein/Desktop/7月数据.csv')
cake6=pd.read_csv('/Users/pein/Desktop/6月蛋糕.csv')
cake45=pd.read_csv('/Users/pein/Desktop/45蛋糕.csv')
cake123=pd.read_csv('/Users/pein/Desktop/123月蛋糕.csv')
data=pd.concat([cake12,cake11,cake10,cake9,cake8,cake7,cake6,
               cake45,cake123])

In [167]:
data['Age']=2016-data['birthYear']

In [169]:
data1=data.copy()
data['perorder_range']=pd.qcut(data['totalFee'],q=10)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203819 entries, 0 to 42107
Data columns (total 15 columns):
productId           203819 non-null int64
uid                 203819 non-null int64
orderId             203819 non-null int64
totalFee            203819 non-null float64
city                203819 non-null int64
birthYear           202619 non-null float64
brandName           203819 non-null object
categoryName        203819 non-null object
cityName            203818 non-null object
gender              202619 non-null float64
provinceId          203818 non-null float64
provinceName        203818 non-null object
rootCategoryName    203819 non-null object
Age                 202619 non-null float64
perorder_range      203819 non-null category
dtypes: category(1), float64(5), int64(4), object(5)
memory usage: 23.5+ MB

In [170]:
data.to_csv('/Users/pein/Desktop/客单价范围分布.csv')

In [184]:
# 提取订单中的用户属性字段
data_user=data.loc[:,['orderId','uid','cityName','gender',
                                'provinceName','Age']]
#对uid进行去重
data_user1=data_user.drop_duplicates(subset=['uid'],keep='first')

In [188]:
# remove the incorrect age and gender in the dataset
data_user1=data_user1[data_user1.gender!=-1]
data_user1=data_user1[data_user1.gender!=2]

In [190]:
data_user1=data_user1[data_user1.Age>9]
data_user1=data_user1[data_user1.Age<91]
data_user1.info() # This is the unqiue uid

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84609 entries, 1 to 42105
Data columns (total 6 columns):
orderId         84609 non-null int64
uid             84609 non-null int64
cityName        84609 non-null object
gender          84609 non-null float64
provinceName    84609 non-null object
Age             84609 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 4.5+ MB

In [191]:
data_user1.head()

    orderId      uid cityName  gender provinceName   Age
1  22998861  1126219      北京市     0.0          北京市  29.0
3  22998856  7182067      北京市     1.0          北京市  11.0
5  22998849  3475166      北京市     1.0          北京市  26.0
7  22998844  2640724      北京市     0.0          北京市  43.0
9  22998834  7176795      天津市     0.0          天津市  24.0

In [193]:
data_user1['Age_range']=pd.cut(data_user1['Age'],bins=[10,18,24,40,90])

In [197]:
data_user1.to_csv('/Users/pein/Desktop/蛋糕消费用户个人信息.csv')

### 蛋糕订单对应的用户

In [200]:
data_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203819 entries, 0 to 42107
Data columns (total 6 columns):
orderId         203819 non-null int64
uid             203819 non-null int64
cityName        203818 non-null object
gender          202619 non-null float64
provinceName    203818 non-null object
Age             202619 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 10.9+ MB

In [201]:
data_user2=data_user[data_user['gender']!=-1]

In [202]:
data_user2=data_user2[data_user2['gender']!=2]

In [204]:
data_user2=data_user2[data_user2['Age']>9]
data_user2=data_user2[data_user2['Age']<91]
data_user2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122704 entries, 1 to 42105
Data columns (total 6 columns):
orderId         122704 non-null int64
uid             122704 non-null int64
cityName        122704 non-null object
gender          122704 non-null float64
provinceName    122704 non-null object
Age             122704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 6.6+ MB

In [206]:
# IT menas that there is totally 1227705 orders has the correct personal 
# information

In [207]:
data_user['Age_range']=pd.cut(data_user['Age'],bins=[10,18,24,40,90])

In [208]:
data_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203819 entries, 0 to 42107
Data columns (total 7 columns):
orderId         203819 non-null int64
uid             203819 non-null int64
cityName        203818 non-null object
gender          202619 non-null float64
provinceName    203818 non-null object
Age             202619 non-null float64
Age_range       125993 non-null category
dtypes: category(1), float64(2), int64(2), object(2)
memory usage: 11.1+ MB

In [211]:
data_user.to_csv('/Users/pein/Desktop/蛋糕消费订单关联用户.csv')