In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
% matplotlib inline

In [17]:
data = pd.read_excel('/Users/pein/Desktop/12月份和1月份部分平衡样本.xlsx')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20723 entries, 0 to 20722
Data columns (total 17 columns):
uid                   20723 non-null int64
provinceId            20723 non-null int64
gender                20723 non-null int64
birthYear             20723 non-null int64
createOn              20723 non-null int64
orderNum              20723 non-null int64
Finaltime             20723 non-null int64
totalFee              20723 non-null float64
SingtotalFee          20723 non-null float64
jude_value            20723 non-null float64
register_channelId    20723 non-null int64
cunpon_use            20723 non-null int64
jifen_use             20723 non-null int64
cancel_order          20723 non-null int64
GoodsView             20723 non-null int64
ActiveDays            20723 non-null int64
Loss_or_not           20723 non-null int64
dtypes: float64(3), int64(14)
memory usage: 2.7 MB

In [19]:
data1 = data.sample(frac=1) # 数据的随机化

In [20]:
# 基本的数据处理，转化格式。去除uid列
data1['provinceId'] = data1.provinceId.astype('category')
data1['jude_value'] = data1.jude_value.astype(float)
data1 = data1.drop(['uid'],1)

In [21]:
#处理出生年龄
data1['Age'] = 2017-data1.birthYear
mask_age_lower = data1.Age<10
mask_age_high = data1.Age>90
data1['Age_right'] =1
data1['Age_right'][mask_age_lower] = 0
data1['Age_right'][mask_age_high] = 0
data1['Age'][mask_age_lower] = 0
data1['Age'][mask_age_high] = 0
# 处理性别数据
mask_gender_error = data1['gender']==-1
data1['gender_right'] = 1
data1['gender_right'][mask_gender_error] =0

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
data1.head()

,provinceId,gender,birthYear,createOn,orderNum,Finaltime,totalFee,SingtotalFee,jude_value,register_channelId,cunpon_use,jifen_use,cancel_order,GoodsView,ActiveDays,Loss_or_not,Age,Age_right,gender_right
12663,440000,1,1991,411,1,22,278.0,278.0,5.00,0,0,0,0,3,18,1,26,1,1
15503,310000,0,1986,108,2,9,448.0,269.0,2.50,0,0,0,1,44,3,1,31,1,1
9181,330000,0,1995,14,2,11,326.0,188.0,2.50,1,1,0,1,1,1,0,22,1,1
4144,320000,-1,0,16,2,14,286.0,158.0,4.75,0,0,0,0,3,2,0,0,0,0
3491,110000,0,1977,29,1,29,759.0,759.0,2.50,1,0,0,0,3,2,0,40,1,1

In [23]:
data1 = data1.drop(['birthYear'], 1)

In [41]:
# 将数据切分成两分
data1['Loss_or_not1'] = data1.Loss_or_not
data2 = data1.drop(['Loss_or_not'],1)
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20723 entries, 12663 to 16125
Data columns (total 18 columns):
provinceId            20723 non-null category
gender                20723 non-null int64
createOn              20723 non-null int64
orderNum              20723 non-null int64
Finaltime             20723 non-null int64
totalFee              20723 non-null float64
SingtotalFee          20723 non-null float64
jude_value            20723 non-null float64
register_channelId    20723 non-null int64
cunpon_use            20723 non-null int64
jifen_use             20723 non-null int64
cancel_order          20723 non-null int64
GoodsView             20723 non-null int64
ActiveDays            20723 non-null int64
Age                   20723 non-null int64
Age_right             20723 non-null int64
gender_right          20723 non-null int64
Loss_or_not1          20723 non-null int64
dtypes: category(1), float64(3), int64(14)
memory usage: 2.9 MB

In [75]:
df = data2.iloc[:,:-1]
target = data2.iloc[:,-1:]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20723 entries, 12663 to 16125
Data columns (total 17 columns):
provinceId            20723 non-null category
gender                20723 non-null int64
createOn              20723 non-null int64
orderNum              20723 non-null int64
Finaltime             20723 non-null int64
totalFee              20723 non-null float64
SingtotalFee          20723 non-null float64
jude_value            20723 non-null float64
register_channelId    20723 non-null int64
cunpon_use            20723 non-null int64
jifen_use             20723 non-null int64
cancel_order          20723 non-null int64
GoodsView             20723 non-null int64
ActiveDays            20723 non-null int64
Age                   20723 non-null int64
Age_right             20723 non-null int64
gender_right          20723 non-null int64
dtypes: category(1), float64(3), int64(13)
memory usage: 2.7 MB

In [76]:
# 数据集的归一化
df1 = df.iloc[:,1:].apply(lambda x:(x-np.mean(x))/np.std(x))
df1['province'] = df['provinceId']
df1.head()

,gender,createOn,orderNum,Finaltime,totalFee,SingtotalFee,jude_value,register_channelId,cunpon_use,jifen_use,cancel_order,GoodsView,ActiveDays,Age,Age_right,gender_right,province
12663,1.574905,0.282560,-0.329729,0.789124,-0.066701,0.160425,1.980870,-0.651729,-0.530035,-0.14065,-0.275204,-0.517841,2.839775,0.273947,0.622383,0.473176,440000
15503,-0.033768,-0.525072,1.738361,-0.666747,0.594607,0.111049,-0.517929,-0.651729,-0.530035,-0.14065,3.633671,1.793620,-0.150442,0.605901,0.622383,0.473176,310000
9181,-0.033768,-0.775624,1.738361,-0.442767,0.120021,-0.333335,-0.517929,1.534380,1.886668,-0.14065,3.633671,-0.630595,-0.549137,0.008384,0.622383,0.473176,330000
4144,-1.642441,-0.770293,1.738361,-0.106797,-0.035581,-0.497921,1.730990,-0.651729,-0.530035,-0.14065,-0.275204,-0.517841,-0.349789,-1.452213,-1.606728,-2.113378,320000
3491,-0.033768,-0.735642,-0.329729,1.573054,1.804411,2.799296,-0.517929,1.534380,-0.530035,-0.14065,-0.275204,-0.517841,-0.349789,1.203418,0.622383,0.473176,110000

In [77]:
# 将数据划分成训练集和测试集
df_train = df1.iloc[:14000,:]
df_test = df1.iloc[14000:,:]
target_train = target.iloc[:14000]
target_test = target.iloc[14000:]

In [78]:
# LR模型
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
# LR 模型的训练
LR = LogisticRegression()
LR.fit(df_train, target_train)
score = LR.score(df_train, target_train)
print(score)
predict_LR = LR.predict(df_test)
accuracy_LR = accuracy_score(target_test, predict_LR)
print(accuracy_LR)
print(recall_score(target_test, predict_LR, average='binary'))
print(precision_score(target_test, predict_LR, average='binary'))

0.513928571429
0.518369775398
1.0
0.518369775398

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [79]:
# SVM 模型
from sklearn import svm
SVM = svm.SVC(C=1.0)
SVM.fit(df_train, target_train)
score = SVM.score(df_train, target_train)
print(score)
predict_SVM = SVM.predict(df_test)
accuracy_SVM = accuracy_score(target_test, predict_SVM)
print(accuracy_SVM)
print(recall_score(target_test, predict_SVM, average='binary'))
print(precision_score(target_test, predict_SVM, average='binary'))

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.755357142857
0.697456492637
0.78106169297
0.681692962685

In [80]:
# 测试一下随机森林算法
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators=30)
RFC.fit(df_train, target_train)
score = RFC.score(df_train, target_train)
print(score)
predict_RFC = RFC.predict(df_test)
accuracy_RFC = accuracy_score(target_test, predict_RFC)
print(accuracy_RFC)
print(recall_score(target_test, predict_RFC, average='binary'))
print(precision_score(target_test, predict_RFC, average='binary'))
print(RFC.decision_path(df_train))

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.999214285714
0.762903465715
0.835007173601
0.74064647493
(<14000x154308 sparse matrix of type '<class 'numpy.int64'>'
	with 6340654 stored elements in Compressed Sparse Row format>, array([     0,   5075,  10158,  15275,  20520,  25641,  30930,  35929,
        41162,  46355,  51654,  56959,  62006,  67081,  72054,  77179,
        82262,  87289,  92510,  97677, 103186, 108261, 113372, 118617,
       123666, 128673, 133836, 138769, 143954, 149139, 154308]))

In [81]:
# 测试决策树算法
from sklearn import tree
TR = tree.DecisionTreeClassifier()
TR.fit(df_train, target_train)
print(TR.score(df_train, target_train))
predict_TR = TR.predict(df_test)
print(accuracy_score(target_test, predict_TR))
print(recall_score(target_test, predict_TR, average='binary'))
print(precision_score(target_test, predict_TR, average='binary'))

0.999785714286
0.699241410085
0.69612625538
0.715845382119

In [82]:
# 带入真实场景，测试随机森林算法的效果
data_415 = pd.read_excel('/Users/pein/Desktop/415515蛋糕用户测试集.xlsx')

In [83]:
data_415['provinceId'] = data_415.provinceId.astype('category')
data_415['jude_value'] = data_415.jude_value.astype(float)
data_415 = data_415.drop(['uid'],1)

In [84]:
#处理出生年龄
data_415['Age'] = 2017-data_415.birthYear
mask_age_lower = data_415['Age']<10
mask_age_high = data_415['Age']>90
data_415['Age_right'] =1
data_415['Age_right'][mask_age_lower] = 0
data_415['Age_right'][mask_age_high] = 0
data_415['Age'][mask_age_lower] = 0
data_415['Age'][mask_age_high] = 0
# 处理性别数据
mask_gender_error = data_415['gender']==-1
data_415['gender_right'] = 1
data_415['gender_right'][mask_gender_error] =0

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [85]:
data_415 = data_415.drop(['birthYear'], 1)

In [86]:
data_415.head()

,provinceId,gender,createOn,orderNum,Finaltime,totalFee,SingtotalFee,register_channelId,jude_value,GoodsView,ActiveDays,cunpon_use,jifen_use,cancel_order,Age,Age_right,gender_right
0,110000,1,1800,1,4,19.0,19.0,0,4.0,191,25,0,0,0,30,1,1
1,110000,1,1344,1,28,303.0,303.0,1,2.5,4,5,0,0,0,33,1,1
2,440000,1,1707,1,18,233.0,233.0,1,2.5,11,2,0,0,0,45,1,1
3,420000,0,1343,1,13,134.0,134.0,1,2.5,1,1,0,0,0,21,1,1
4,310000,0,1343,1,16,248.0,248.0,1,5.0,76,2,0,0,0,30,1,1

In [87]:
data_515 = data_415.iloc[:,1:].apply(lambda x:(x-np.mean(x))/np.std(x))
data_515['province'] = data_415['provinceId']
data_515.head()

,gender,createOn,orderNum,Finaltime,totalFee,SingtotalFee,register_channelId,jude_value,GoodsView,ActiveDays,cunpon_use,jifen_use,cancel_order,Age,Age_right,gender_right,province
0,1.547959,3.834760,-0.228219,-1.019285,-1.116291,-1.258061,-1.785238,1.449629,9.404941,5.474314,-0.379958,-0.095419,-0.273795,0.649538,0.70437,0.521438,110000
1,1.547959,2.676557,-0.228219,1.589558,0.113248,0.286274,0.560150,-0.385340,-0.553542,0.473200,-0.379958,-0.095419,-0.273795,0.844056,0.70437,0.521438,110000
2,1.547959,3.598547,-0.228219,0.502540,-0.189808,-0.094372,0.560150,-0.385340,-0.180765,-0.276967,-0.379958,-0.095419,-0.273795,1.622127,0.70437,0.521438,440000
3,0.008535,2.674017,-0.228219,-0.040968,-0.618414,-0.632714,0.560150,-0.385340,-0.713304,-0.527022,-0.379958,-0.095419,-0.273795,0.065985,0.70437,0.521438,420000
4,0.008535,2.674017,-0.228219,0.285137,-0.124867,-0.012805,0.560150,2.672941,3.280740,-0.276967,-0.379958,-0.095419,-0.273795,0.649538,0.70437,0.521438,310000

In [88]:
# 测试一下随机森林算法
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators=30)
RFC.fit(df1, target)
score = RFC.score(df1, target)
print(score)
predict_RFC_real = RFC.predict(data_515)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.998986633209

In [90]:
data_515['Loss_or_not'] = predict_RFC_real

In [91]:
data_515.to_csv('/Users/pein/Desktop/415515.csv')

In [6]:
import pandas as pd
a = pd.DataFrame({'A':['a','b','c'],'B':['a','b','c']})
a

   A  B
0  a  a
1  b  b
2  c  c

In [8]:
pd.get_dummies(a)

   A_a  A_b  A_c  B_a  B_b  B_c
0    1    0    0    1    0    0
1    0    1    0    0    1    0
2    0    0    1    0    0    1