 Introduction
 1.Import libraries
 2.Load data
 3.Variable Identification
 4.Run Statistical
 5.Correlation with target variable
 
 Missing values imputation
 1.Figure out  missing values columns
 2.Fill out missing data
 
 Visualisations
 1.Univariate Analysis
 2.Bivariate Analysis

# Import libraries

In [1]:
ser=pd.Series(np.random.randn(8))

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
import numpy as np

In [3]:
ser=pd.Series(np.random.randn(8))

In [4]:
ser

0   -0.829143
1   -0.035340
2    0.406651
3   -0.830888
4    3.406795
5    2.447464
6    1.625740
7    1.496316
dtype: float64

In [5]:
ser.pct_change()

0          NaN
1    -0.957378
2   -12.506919
3    -3.043245
4    -5.100187
5    -0.281593
6    -0.335745
7    -0.079609
dtype: float64

In [6]:
df=pd.DataFrame(np.random.randn(10,4))

In [7]:
df.pct_change()

           0         1          2         3
0        NaN       NaN        NaN       NaN
1  -2.123774  3.845178  -4.752507 -0.192619
2  -0.318682 -3.600082   0.591091 -0.507306
3  -0.961049 -1.312647  -2.935574 -2.213278
4 -15.338200  0.300865  -1.490982  1.519574
5  -0.304668 -3.002462  -0.957897 -0.451718
6  -1.211312  0.948955 -20.548663 -0.735664
7  -2.953176 -1.634078  -2.671374  0.520043
8  -9.356086 -2.256509   0.262068  7.722946
9  -0.177681 -0.996500  -0.209790 -1.002404

In [9]:
s1=pd.Series(np.random.randn(1000))
s2=pd.Series(np.random.randn(1000))
s1.cov(s2)

0.010674534795753133

In [10]:
framee=pd.DataFrame(np.random.randn(20,3),columns=['A','B','C']
)

In [12]:
framee.cov()

          A         B         C
A  1.640485  0.501136  0.105944
B  0.501136  1.500424  0.347480
C  0.105944  0.347480  0.772722

In [14]:
framee.cov(min_periods=12)

          A         B         C
A  1.640485  0.501136  0.105944
B  0.501136  1.500424  0.347480
C  0.105944  0.347480  0.772722

In [15]:
frame=pd.DataFrame(np.random.randn(1000,5),columns=['a','b','c','d','e'])

In [16]:
frame.ix[::2]=np.nan

In [17]:
frame

            a         b         c         d         e
0         NaN       NaN       NaN       NaN       NaN
1   -0.356338 -0.207154  0.618822 -0.130090 -0.499734
2         NaN       NaN       NaN       NaN       NaN
3    0.280425  0.630406  0.690575 -0.320041  0.015286
4         NaN       NaN       NaN       NaN       NaN
5   -0.670076 -0.753961  1.612549 -0.357444  2.208779
6         NaN       NaN       NaN       NaN       NaN
7    0.420812 -2.439458  0.705379  0.316453 -0.450198
8         NaN       NaN       NaN       NaN       NaN
9    0.102971  0.916957  1.448896 -0.554189 -2.347337
10        NaN       NaN       NaN       NaN       NaN
11   1.141271 -0.532897 -0.381284 -1.508552 -0.017391
12        NaN       NaN       NaN       NaN       NaN
13  -0.429838  0.970445 -1.497397  1.449222  0.682937
14        NaN       NaN       NaN       NaN       NaN
15  -0.172315  1.417563 -0.320889 -0.133723 -0.404704
16        NaN       NaN       NaN       NaN       NaN
17  -0.498764  1.598496  0.387258 -1.899994  0.294634
18        NaN       NaN       NaN       NaN       NaN
19  -1.119553  1.890007 -0.533397 -0.310912 -0.354770
20        NaN       NaN       NaN       NaN       NaN
21   1.127782 -0.844018 -0.046890 -0.435117  0.831447
22        NaN       NaN       NaN       NaN       NaN
23   1.032135  0.368986 -0.731681  0.928372  1.583572
24        NaN       NaN       NaN       NaN       NaN
25   0.164459 -0.540513  0.110290 -0.931556 -0.556788
26        NaN       NaN       NaN       NaN       NaN
27  -0.445248  0.252777 -0.513717 -0.950916  2.405987
28        NaN       NaN       NaN       NaN       NaN
29  -0.509049 -1.892036 -1.229637 -0.464111  0.632814
..        ...       ...       ...       ...       ...
970       NaN       NaN       NaN       NaN       NaN
971  0.636495 -1.727091  0.977747  0.669433  0.243499
972       NaN       NaN       NaN       NaN       NaN
973  1.009367 -0.216661 -1.156802 -0.180242 -0.167321
974       NaN       NaN       NaN       NaN       NaN
975 -2.015284  0.881823 -0.530388  0.918452  0.063709
976       NaN       NaN       NaN       NaN       NaN
977  0.982337 -0.197203  1.533459  0.195819  1.665631
978       NaN       NaN       NaN       NaN       NaN
979  1.419026  0.876941  0.016809  0.362192  1.909928
980       NaN       NaN       NaN       NaN       NaN
981  1.154903 -0.111430 -0.237519  1.095571 -1.285508
982       NaN       NaN       NaN       NaN       NaN
983 -1.266534  0.190990  0.400274  0.273461  0.338142
984       NaN       NaN       NaN       NaN       NaN
985 -1.390460  0.430032 -1.286489  0.631296 -0.143102
986       NaN       NaN       NaN       NaN       NaN
987 -0.027901 -0.770109  1.820961  1.270381 -0.153818
988       NaN       NaN       NaN       NaN       NaN
989  1.107462 -3.164974  0.990630 -0.689107  1.292037
990       NaN       NaN       NaN       NaN       NaN
991  0.465900 -0.668697 -0.427452  0.836685 -0.993163
992       NaN       NaN       NaN       NaN       NaN
993 -0.729151 -1.290305 -2.480625  2.344263 -1.877641
994       NaN       NaN       NaN       NaN       NaN
995 -1.041031  1.015495  0.982299  3.429988 -0.580689
996       NaN       NaN       NaN       NaN       NaN
997 -0.258530 -0.890504  1.375807  1.066356 -0.352311
998       NaN       NaN       NaN       NaN       NaN
999  0.915669 -0.870664 -0.641279  0.384753  0.725314

[1000 rows x 5 columns]

In [18]:
frame['a'].corr(frame['b'])

-0.046554785217732091

In [20]:
frame['a'].corr(frame['b'],method='spearman')

-0.045874455497821987

In [21]:
# this has different between these method when cacalating the corr

In [22]:
frame.corr()

          a         b         c         d         e
a  1.000000 -0.046555  0.024346 -0.092625  0.113579
b -0.046555  1.000000 -0.051604  0.019242  0.032415
c  0.024346 -0.051604  1.000000 -0.029894  0.053819
d -0.092625  0.019242 -0.029894  1.000000  0.015174
e  0.113579  0.032415  0.053819  0.015174  1.000000

In [ ]:
# the rank method produces a data ranking