In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
data = pd.read_excel('/Users/pein/Desktop/phone.xlsx')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65916 entries, 0 to 65915
Data columns (total 2 columns):
ID     65916 non-null int64
num    65916 non-null int64
dtypes: int64(2)
memory usage: 1.0 MB

In [4]:
data.describe()

                 ID           num
count  65916.000000  65916.000000
mean   32958.500000    300.890194
std    19028.454509    431.254015
min        1.000000      1.000000
25%    16479.750000     79.000000
50%    32958.500000    168.000000
75%    49437.250000    357.000000
max    65916.000000  17062.000000

In [7]:
data['num_percent'] = pd.qcut(data.num, 10)

In [14]:
data['num_len'] = pd.cut(data.num,bins=[1,50,100,150,200,250,300,350,400,
                                       450,500,550,600,650,700,750,800,
                                       850,900,])

In [15]:
data.head()

   ID  num num_percent     num_len
0   1  142  (127, 168]  (100, 150]
1   2  218  (168, 223]  (200, 250]
2   3  152  (127, 168]  (150, 200]
3   4  122   (93, 127]  (100, 150]
4   5   18     [1, 38]     (1, 50]

In [17]:
data.to_csv("/Users/pein/Desktop/phone_result.csv")