In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
% matplotlib inline

In [4]:
data = pd.read_excel('/Users/pein/Desktop/12月份和部分11月份的蛋糕消费用户信息.xlsx')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26968 entries, 0 to 26967
Data columns (total 17 columns):
uid                   26968 non-null int64
provinceId            26968 non-null int64
gender                26968 non-null int64
birthYear             26968 non-null int64
createOn              26968 non-null int64
orderNum              26968 non-null int64
Finaltime             26968 non-null int64
totalFee              26968 non-null float64
SingtotalFee          26968 non-null float64
jude_value            26968 non-null float64
register_channelId    26968 non-null int64
cunpon_use            26968 non-null int64
jifen_use             26968 non-null int64
cancel_order          26968 non-null int64
GoodsView             26968 non-null int64
ActiveDays            26968 non-null int64
Loss_or_not           26968 non-null int64
dtypes: float64(3), int64(14)
memory usage: 3.5 MB

In [6]:
train_data = data.iloc[:,:-1]
train_target = data.iloc[:,-1:]

In [7]:
train_data = train_data.drop(['uid'],1)
train_data['jude_value'] = train_data.jude_value.astype(float)
train_data['provinceId'] = train_data.provinceId.astype('category')

In [8]:
# 数据的预处理 age
train_data['Age'] = 2017-train_data.birthYear
mask_age_lower = train_data['Age']<10
mask_age_high = train_data['Age']>10
train_data['Age_right'] = 1
train_data['Age_right'][mask_age_lower] = 0
train_data['Age_right'][mask_age_high] = 0
train_data['Age'][mask_age_lower] = 0
train_data['Age'][mask_age_lower] = 0

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
# 性别数据的处理
mask_gender_error = train_data['gender'] == -1
train_data['gender_right'] = 1
train_data['gender_right'][mask_gender_error] = 0

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
# 去除birthYear列，然后去数据进行标准化
train_data = train_data.drop(['birthYear'],1)
train_data.iloc[:,1:] = train_data.iloc[:,1:].apply(lambda x:(x-np.mean(x))/np.std(x))
train_data.head()

,provinceId,gender,createOn,orderNum,Finaltime,totalFee,SingtotalFee,jude_value,register_channelId,cunpon_use,jifen_use,cancel_order,GoodsView,ActiveDays,Age,Age_right,gender_right
0,440000,-0.037167,2.633113,-0.309701,0.634956,-0.571023,-0.550796,2.070250,-0.65001,1.709066,-0.125627,-0.27957,-0.584646,0.118167,-0.608825,-0.038541,0.491782
1,110000,-0.037167,2.633113,-0.309701,-1.195356,-0.129499,0.045804,-0.494323,-0.65001,-0.585115,-0.125627,-0.27957,2.854778,0.337170,-0.611086,-0.038541,0.491782
2,230000,-0.037167,2.633113,-0.309701,0.978139,-0.767702,-0.816554,2.070250,-0.65001,-0.585115,-0.125627,-0.27957,-0.001693,2.527202,-0.624648,-0.038541,0.491782
3,210000,1.519248,2.633113,-0.309701,-1.309751,-0.691438,-0.713505,0.018592,-0.65001,1.709066,-0.125627,-0.27957,-0.526350,0.556173,-0.616737,-0.038541,0.491782
4,110000,-0.037167,2.627638,-0.309701,0.978139,0.436454,0.810537,-0.494323,-0.65001,-0.585115,-0.125627,-0.27957,0.231489,0.337170,-0.612216,-0.038541,0.491782

In [11]:
# 采用随机森林算法
#调用准确率 召回率 精确率 3个指标来综合评价模型的效果 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [14]:
RFC = RandomForestClassifier(n_estimators=20)
RFC.fit(train_data, train_target)
score = RFC.score(train_data, train_target)
score
# 模型的拟合效果

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

0.9968110353010976

In [15]:
#测试准确程度
predict = RFC.predict(train_data)
accuracy_score(train_target, predict)

0.9968110353010976

In [19]:
# 测试召回率和精确度
recall_score(train_target, predict,average='binary')

0.99787296898079769

In [20]:
precision_score(train_target, predict,average='binary')

0.99704823189090264

In [12]:
# 为了防止过分拟合，将数据集划分成测试集和训练集
# 将train_data train_target 划分成7:3的比例
# 测试模型的一个泛化效果
# 将训练数据集随机打乱
data1 = train_data.iloc[:,:]
data1['Loss_or_not'] = train_target
data2 = data1.sample(frac=1)
train_data0= data2.iloc[:,:-1]
train_target0 = data2.iloc[:,-1:]

In [13]:
train_data1 = train_data0.iloc[:18000,:]
train_data2 = train_data0.iloc[18000:,:]
train_target1 = train_target0.iloc[:18000]
train_target2 = train_target0.iloc[18000:]

In [15]:
# 建立新的随机森林训练模型
#RFC2 = RandomForestClassifier(n_estimators=20)
#RFC2.fit(train_data1, train_target1)
#score = RFC2.score(train_data1, train_target1)
#print(score)
#predict2 = RFC2.predict(train_data2)
#accuracy_result = accuracy_score(train_target2, predict2)
#print(accuracy_result)
#recall_result = recall_score(train_target2, predict2,average='binary')
#print(recall_result)
#precision_result = precision_score(train_target2, predict2,average='binary')
#print(precision_result)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  app.launch_new_instance()

0.996222222222
0.744536128457
0.864325191656
0.760112888053

In [28]:
#np.savetxt('/Users/pein/Desktop/predcit2.csv', predict2, delimiter=',')

In [9]:
# 采用LR模型进行建模预测
#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import accuracy_score
#from sklearn import svm
# LR模型的效果
#LR = LogisticRegression()
#LR.fit(train_data,train_target)
#score = LR.score(train_data,train_target)
#score

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.79178367605761391

In [15]:
# 接下来导入我们需要的测试数据集
data1 = pd.read_excel('/Users/pein/Desktop/415515蛋糕用户测试集(1).xlsx')

In [16]:
test_data = data1.iloc[:,:]

In [17]:
test_data.head()

,uid,provinceId,gender,birthYear,createOn,orderNum,Finaltime,totalFee,SingtotalFee,register_channelId,jude_value,GoodsView,ActiveDays,cunpon_use,jifen_use,cancel_order
0,1000,110000,1,1987,1800,1,4,19.0,19.0,0,4.0,191,25,0,0,0
1,1002387,110000,1,1984,1344,1,28,303.0,303.0,1,2.5,4,5,0,0,0
2,100391,440000,1,1972,1707,1,18,233.0,233.0,1,2.5,11,2,0,0,0
3,1003936,420000,0,1996,1343,1,13,134.0,134.0,1,2.5,1,1,0,0,0
4,1005051,310000,0,1987,1343,1,16,248.0,248.0,1,5.0,76,2,0,0,0

In [18]:
test_data['provinceId'] = test_data.provinceId.astype('category')
test_data['jude_value'] = test_data.jude_value.astype(float)
test_data = test_data.drop(['uid'],1)

In [19]:
# 测试数据集处理年龄和性别
test_data['Age'] = 2017 - test_data.birthYear
mask_age_lower1 = test_data['Age']<10
mask_age_high1 = test_data['Age']>90
test_data['Age_right'] = 1
test_data['Age_right'][mask_age_lower1] = 0
test_data['Age_right'][mask_age_high1] = 0
test_data['Age'][mask_age_lower1] = 0
test_data['Age'][mask_age_high1] = 0
mask_gender_error1 = test_data['gender'] ==-1
test_data['gender_right'] = 1
test_data['gender_right'][mask_gender_error1] = 0

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18398 entries, 0 to 18397
Data columns (total 18 columns):
provinceId            18398 non-null category
gender                18398 non-null int64
birthYear             18398 non-null int64
createOn              18398 non-null int64
orderNum              18398 non-null int64
Finaltime             18398 non-null int64
totalFee              18398 non-null float64
SingtotalFee          18398 non-null float64
register_channelId    18398 non-null int64
jude_value            18398 non-null float64
GoodsView             18398 non-null int64
ActiveDays            18398 non-null int64
cunpon_use            18398 non-null int64
jifen_use             18398 non-null int64
cancel_order          18398 non-null int64
Age                   18398 non-null int64
Age_right             18398 non-null int64
gender_right          18398 non-null int64
dtypes: category(1), float64(3), int64(14)
memory usage: 2.4 MB

In [23]:
test_data = test_data.drop(['birthYear'],1)
test_data.iloc[:,1:] = test_data.iloc[:,1:].apply(lambda x: (x-np.mean(x))/np.std(x))

In [24]:
test_data.head()

,provinceId,gender,createOn,orderNum,Finaltime,totalFee,SingtotalFee,register_channelId,jude_value,GoodsView,ActiveDays,cunpon_use,jifen_use,cancel_order,Age,Age_right,gender_right
0,110000,1.547959,3.834760,-0.228219,-1.019285,-1.116291,-1.258061,-1.785238,1.449629,9.404941,5.474314,-0.379958,-0.095419,-0.273795,0.649538,0.70437,0.521438
1,110000,1.547959,2.676557,-0.228219,1.589558,0.113248,0.286274,0.560150,-0.385340,-0.553542,0.473200,-0.379958,-0.095419,-0.273795,0.844056,0.70437,0.521438
2,440000,1.547959,3.598547,-0.228219,0.502540,-0.189808,-0.094372,0.560150,-0.385340,-0.180765,-0.276967,-0.379958,-0.095419,-0.273795,1.622127,0.70437,0.521438
3,420000,0.008535,2.674017,-0.228219,-0.040968,-0.618414,-0.632714,0.560150,-0.385340,-0.713304,-0.527022,-0.379958,-0.095419,-0.273795,0.065985,0.70437,0.521438
4,310000,0.008535,2.674017,-0.228219,0.285137,-0.124867,-0.012805,0.560150,2.672941,3.280740,-0.276967,-0.379958,-0.095419,-0.273795,0.649538,0.70437,0.521438

In [25]:
predict = LR.predict(test_data)

In [26]:
data1['result'] = predict

In [28]:
data1.describe()

,uid,gender,birthYear,createOn,orderNum,Finaltime,totalFee,SingtotalFee,register_channelId,jude_value,GoodsView,ActiveDays,cunpon_use,jifen_use,cancel_order,result
count,1.839800e+04,18398.000000,18398.000000,18398.000000,18398.000000,18398.000000,18398.000000,18398.000000,18398.00000,18398.000000,18398.000000,18398.000000,18398.000000,18398.000000,18398.000000,18398.0
mean,7.318777e+06,-0.005544,1374.318839,290.203663,1.117513,13.376889,276.841942,250.354764,0.76117,2.814997,14.394391,3.107620,0.126155,0.009023,0.069736,1.0
std,4.576301e+06,0.649611,919.524991,393.724115,0.514926,9.199730,230.987279,183.902904,0.42638,0.817475,18.778471,3.999218,0.332033,0.094561,0.254708,0.0
min,1.000000e+03,-1.000000,0.000000,0.000000,1.000000,0.000000,8.000000,8.000000,0.00000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.0
25%,5.066758e+06,0.000000,0.000000,18.000000,1.000000,4.000000,161.000000,161.000000,1.00000,2.500000,3.000000,1.000000,0.000000,0.000000,0.000000,1.0
50%,7.589843e+06,0.000000,1984.000000,98.000000,1.000000,13.000000,205.500000,198.000000,1.00000,2.500000,8.000000,2.000000,0.000000,0.000000,0.000000,1.0
75%,8.164760e+06,0.000000,1991.000000,416.000000,1.000000,21.000000,298.875000,288.000000,1.00000,2.500000,18.000000,3.000000,0.000000,0.000000,0.000000,1.0
max,2.153836e+07,1.000000,3333.000000,1863.000000,41.000000,30.000000,6727.000000,4999.000000,1.00000,5.000000,302.000000,31.000000,1.000000,1.000000,1.000000,1.0

In [29]:
data1.to_csv('/Users/pein/Desktop/415515蛋糕用户测试集预测结果.csv')