In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
% matplotlib inline

In [2]:
data = pd.read_excel('/Users/pein/Desktop/12月份和1月份部分平衡样本.xlsx')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20723 entries, 0 to 20722
Data columns (total 17 columns):
uid                   20723 non-null int64
provinceId            20723 non-null int64
gender                20723 non-null int64
birthYear             20723 non-null int64
createOn              20723 non-null int64
orderNum              20723 non-null int64
Finaltime             20723 non-null int64
totalFee              20723 non-null float64
SingtotalFee          20723 non-null float64
jude_value            20723 non-null float64
register_channelId    20723 non-null int64
cunpon_use            20723 non-null int64
jifen_use             20723 non-null int64
cancel_order          20723 non-null int64
GoodsView             20723 non-null int64
ActiveDays            20723 non-null int64
Loss_or_not           20723 non-null int64
dtypes: float64(3), int64(14)
memory usage: 2.7 MB

In [4]:
data1 = data.sample(frac=1) # 数据的随机化

In [6]:
# 基本的数据处理，转化格式。去除uid列
data1['provinceId'] = data1.provinceId.astype('category')
data1['jude_value'] = data1.jude_value.astype(float)
data1 = data1.drop(['uid'],1)

In [7]:
#处理出生年龄
data1['Age'] = 2017-data1.birthYear
mask_age_lower = data1['Age']<10
mask_age_high = data1['Age']>90
data1['Age_right'] =1
data1['Age_right'][mask_age_lower] = 0
data1['Age_right'][mask_age_high] = 0
data1['Age'][mask_age_lower] = 0
data1['Age'][mask_age_high] = 0
# 处理性别数据
mask_gender_error = data1['gender']==-1
data1['gender_right'] = 1
data1['gender_right'][mask_gender_error] =0

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
data1.head()

,provinceId,gender,birthYear,createOn,orderNum,Finaltime,totalFee,SingtotalFee,jude_value,register_channelId,cunpon_use,jifen_use,cancel_order,GoodsView,ActiveDays,Loss_or_not,Age,Age_right,gender_right
4005,310000,0,1993,18,1,18,158.0,158.0,2.5,1,0,0,1,3,3,0,24,1,1
16738,130000,0,1991,46,1,30,178.0,178.0,2.5,0,0,0,0,1,1,1,26,1,1
5793,420000,1,1989,642,1,21,268.0,268.0,5.0,1,1,0,0,1,1,0,28,1,1
16275,310000,0,1991,65,1,2,143.0,143.0,2.5,0,1,0,0,16,3,1,26,1,1
4423,110000,0,1990,11,1,0,219.0,219.0,2.5,1,0,0,0,75,8,0,27,1,1

In [9]:
data1 = data1.drop(['birthYear'], 1)

In [15]:
# 将数据切分成两分
data1['Loss_or_not1'] = data1.Loss_or_not
data1.drop(['Loss_or_not'],1)
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20723 entries, 4005 to 17014
Data columns (total 19 columns):
provinceId            20723 non-null category
gender                20723 non-null int64
createOn              20723 non-null int64
orderNum              20723 non-null int64
Finaltime             20723 non-null int64
totalFee              20723 non-null float64
SingtotalFee          20723 non-null float64
jude_value            20723 non-null float64
register_channelId    20723 non-null int64
cunpon_use            20723 non-null int64
jifen_use             20723 non-null int64
cancel_order          20723 non-null int64
GoodsView             20723 non-null int64
ActiveDays            20723 non-null int64
Loss_or_not           20723 non-null int64
Age                   20723 non-null int64
Age_right             20723 non-null int64
gender_right          20723 non-null int64
Loss_or_not1          20723 non-null int64
dtypes: category(1), float64(3), int64(15)
memory usage: 3.0 MB

In [16]:
df = data1.iloc[:,:-1]
target = data1.iloc[:,-1:]
df.head()

,provinceId,gender,createOn,orderNum,Finaltime,totalFee,SingtotalFee,jude_value,register_channelId,cunpon_use,jifen_use,cancel_order,GoodsView,ActiveDays,Loss_or_not,Age,Age_right,gender_right
4005,310000,0,18,1,18,158.0,158.0,2.5,1,0,0,1,3,3,0,24,1,1
16738,130000,0,46,1,30,178.0,178.0,2.5,0,0,0,0,1,1,1,26,1,1
5793,420000,1,642,1,21,268.0,268.0,5.0,1,1,0,0,1,1,0,28,1,1
16275,310000,0,65,1,2,143.0,143.0,2.5,0,1,0,0,16,3,1,26,1,1
4423,110000,0,11,1,0,219.0,219.0,2.5,1,0,0,0,75,8,0,27,1,1

In [17]:
target.head()

       Loss_or_not1
4005              0
16738             1
5793              0
16275             1
4423              0

In [18]:
# 将数据划分成训练集和测试集
df_train = df.iloc[:14000,:]
df_test = df.iloc[14000:,:]
target_train = target.iloc[:14000]
target_test = target.iloc[14000:]

In [20]:
# LR模型
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
# LR 模型的训练
LR = LogisticRegression()
LR.fit(df_train, target_train)
score = LR.score(df_train, target_train)
print(score)
predict_LR = LR.predict(df_test)
accuracy_LR = accuracy_score(target_test, predict_LR)
print(accuracy_LR)
print(recall_score(target_test, predict_LR, average='binary'))
print(precision_score(target_test, predict_LR, average='binary'))

0.594714285714
0.589320243939
0.73616398243
0.57475994513

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# SVM 模型
from sklearn import svm
SVM = svm.SVC(C=1.0,kernel='poly')
SVM.fit(df_train, target_train)
score = SVM.score(df_train, target_train)
print(score)
predict_SVM = SVM.predict(df_test)
accuracy_SVM = accuracy_score(target_test, predict_SVM)
print(accuracy_SVM)
print(recall_score(target_test, predict_SVM, average='binary'))
print(precision_score(target_test, predict_SVM, average='binary'))

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# 测试一下随机森林算法
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators=10)
RFC.fit(df_train, target_train)
score = RFC.score(df_train, target_train)
print(score)
predict_RFC = RFC.predict(df_test)
accuracy_RFC = accuracy_score(target_test, predict_RFC)
print(accuracy_RFC)
print(recall_score(target_test, predict_RFC, average='binary'))
print(precision_score(target_test, predict_RFC, average='binary'))